= t("auth.emails.password_reset.greeting", email: @user.email)

= t("auth.emails.password_reset.introduction", site_name: t("app.name"))
= t("auth.emails.password_reset.action", link: @url)

= t("auth.emails.password_reset.warning")

= t("auth.emails.goodbye")
= t("auth.emails.signature")
