.side-actions
  = link_to(t("admin.actions.back", resource: t("admin.users.resource_plural_name")), admin_users_path, class: "btn")
%h2= t("admin.users.title_new")
= render partial: "form", locals: {user: @user, submit_button_text: "#{t("admin.actions.create")} #{t("admin.users.resource_name")}"}