!!!5
%html
  %head
    %title= t("app.admin_name")
    %meta{ content: t("app.author"), name: "author" }
    = stylesheet_link_tag "admin", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "admin", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = render partial: "layouts/navigation", locals: {app_name: t("app.admin_name")}
            
    .container
      = render partial: "layouts/flash"
              
      .row
        .col-lg-3
          .list-group.main-menu
            = link_to t("admin.menu.users"), admin_users_path, class: "list-group-item #{"active" if request.fullpath.include?(admin_users_path) }"
        .col-lg-9
          = yield