!!!5
%html
  %head
    %title= t("app.name")
    %meta{ content: t("app.author"), name: "author" }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      %a.navbar-brand{href: root_url}= t("app.name")
      %ul.nav.navbar-nav.pull-right
        - if current_user
          %li
            %a= t("auth.logged_us", user: current_user.email)
          %li= link_to t("auth.log_out"), logout_path
        - else
          %li= link_to t("auth.register"), signup_path
        %li= link_to t("auth.log_in"), login_path

    .container
      = render partial: "layouts/flash"

      .row
        = yield