!!!5
%html
  %head
    %title= t("app.name")
    %meta{ content: t("app.author"), name: "author" }
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .container
      -unless flash.empty?
        .row
          -flash.each do |name, msg|
            .col-12
              = content_tag :div, msg.html_safe, :id => "flash_#{name}", class: "alert alert-block"
          
      .row
        = yield
